on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.*ignore'
      - '**.env*'
      - renovate.json
      - docker-compose.yaml
      - '**integration.yaml'

concurrency:
  group: deployment-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deployment:
    runs-on: ubuntu-22.04

    permissions: read-all

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Heroku
        uses: akhileshns/heroku-deploy@v3.12.13
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ''
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          justlogin: true

      - name: Login to Heroku Container Registry
        run: heroku container:login

      - name: Build Docker image for the bot
        uses: docker/build-push-action@v4
        with:
          push: true
          provenance: false
          tags: registry.heroku.com/codinglab-discord-bot/worker
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy the bot
        run: heroku container:release worker --app codinglab-discord-bot
